@{
    ViewData["Title"] = "Nội dung buổi học số 3";
}

<h1>@ViewData["Title"]</h1>

<h2>1. Cách tạo project .NET MVC</h2>

<h2>2. Namespace là gì, cách đặt tên</h2>

<h2>3. Cách tạo Controller và View</h2>

<h2>4. Định tuyến (Route) trong MVC</h2>

<h2>5. IActionResult là gì?</h2>
<p>Các kiểu trả về:</p>

<ul>
    <li><a href="/Home/Index">ViewResult</a></li>
    <li><a href="/Home/RedirectExample">RedirectResult</a></li>
    <li><a href="/Home/RedirectToActionExample">RedirectToActionResult</a></li>
    <li><a href="/Home/JsonExample">JsonResult</a></li>
    <li><a href="/Home/FileExample">FileResult</a></li>
    <li><a href="/Home/StatusCodeExample">StatusCodeResult</a></li>
</ul>
