@{
    ViewData["Title"] = "ViewResult Example";
}

<h2>@ViewData["Title"]</h2>
<p>@ViewData["Message"]</p>

<ul>
    <li><a href="/Demo/RedirectExample">Xem ví dụ RedirectResult</a></li>
    <li><a href="/Demo/RedirectToActionExample">Xem ví dụ RedirectToActionResult</a></li>
    <li><a href="/Demo/JsonExample">Xem ví dụ JsonResult</a></li>
    <li><a href="/Demo/FileExample">Xem ví dụ FileResult</a></li>
    <li><a href="/Demo/StatusCodeExample">Xem ví dụ StatusCodeResult</a></li>
</ul>
